<a href="https://colab.research.google.com/github/taekyungss/Naver_BoostCourse/blob/main/02%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%82%AC%EC%9D%B4%EC%96%B8%EC%8A%A4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 라이브러리 불러오기

In [ ]:
!pip install koreanize-matplotlib
import matplotlib.pyplot as plt
from IPython.display import set_matplotlib_formats

import pandas as pd
import koreanize_matplotlib
%matplotlib inline

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns

In [ ]:
# import matplotlib.pyplot as plt
# plt.rc("font", family = "NanumBarunGothic")
# plt.rc("axes", unicode_minus = False)

# %matplotlib inline

In [ ]:
from IPython.display import set_matplotlib_formats
set_matplotlib_formats("retina")

### 데이터 로드하기

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/boostcourse/소상공인시장진흥공단_상가업소정보_의료기관_201909/소상공인시장진흥공단_상가업소정보_의료기관_201909.csv", low_memory=False)
df.shape

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.sample()

In [ ]:
df.info()

In [ ]:
# 컬럼병 보기

df.columns

In [ ]:
# 데이터 타입

df.dtypes

### 결측치

In [ ]:
null_count = df.isnull().sum()
null_count
# True : null 값 / True ==1

In [ ]:
# 위에서 구한 결측지를 .plot.bar를 통해 막대그래프의 형태로 표현

# barh 는 x축과 y축 돌리기 (글자가 다 잘 안보일때 사용), 그림 사이즈도 조절

null_count.plot.barh(figsize=(5,7))

In [ ]:
# 위에서 계산한 결측치 수를 reset_index를 통해 데이터 프레임으로 만들기

df_null_count = null_count.reset_index()
df_null_count.head()

In [ ]:
df_null_count.columns = ["컬럼명", "결측치수"]
df_null_count.head()

In [ ]:
# 결측치수 정렬
df_null_count_top = df_null_count.sort_values(by="결측치수", ascending=False).head(10)

In [ ]:
# 특정 컬럼만 불러오기 NaN = Not a Number 결측치

df["지점명"].head()

In [ ]:
df_null_count["컬럼명"]

In [ ]:
drop_columns = df_null_count_top["컬럼명"].tolist()
drop_columns

In [ ]:
df[drop_columns].head()

In [ ]:
# 결측치 제거 컬럼 기준으로 드랍

df = df.drop(drop_columns, axis=1)
df.info()

### 기초 통계값 보기

In [ ]:
df["위도"].dtypes

In [ ]:
# 평균값
df["위도"].mean()

In [ ]:
# 중앙값 
df["위도"].median()

In [ ]:
# 최댓값
df["위도"].max()

In [ ]:
df["위도"].min()

In [ ]:
df["위도"].count()

In [ ]:
df[["위도","경도"]].describe()

In [ ]:
# describe로 문자열 데이터 타입의 요약 보기 / 모든 수치형 데이터에 대해서 
# include로 문자형 / 숫자형 요약정보 확인 가능 (최빈값:top)
df.describe(include="number")
df.describe(include="object")
df.describe(include="all")

### 중복 제거한 값 보기

In [ ]:
# 상권업종대분류명

df["상권업종대분류명"].unique()

In [ ]:
df["상권업종대분류명"].nunique()

In [ ]:
# 상권업종중분류명
df["상권업종중분류명"].unique()

In [ ]:
df["상권업종중분류명"].nunique()

In [ ]:
# 상권업종소분류명
df["상권업종소분류명"].unique()

In [ ]:
df["상권업종소분류명"].nunique()

In [ ]:
city = df["시도명"].value_counts()
city
# z카테고리 형태의 데이터 갯수 세어볼 수 있음.

In [ ]:
city_normalize = df["시도명"].value_counts(normalize = True)
city_normalize
# 전체에서 차지하는 비율 계산

In [ ]:
#위에서 분석한 시도명 수를 막대그래프로 표현

import matplotlib as mpl

# # 유니코드 깨짐현상 해결
# mpl.rcParams['axes.unicode_minus'] = False

# # 나눔고딕 폰트 적용
# plt.rcParams["font.family"] = 'NanumGothic'

city.plot()

In [ ]:
city.plot.barh()

In [ ]:
# 파이 그래프 그리기
city.plot.pie(figsize = (7,7))

In [ ]:
# seaborn의 countplot그리기
sns.countplot(data=df, y="시도명")

In [ ]:
df["상권업종대분류명"].value_counts()

In [ ]:
c = df["상권업종중분류명"].value_counts()
c

In [ ]:
n = df["상권업종중분류명"].value_counts(normalize=True)
n

In [ ]:
c.plot.bar(rot=1)

In [ ]:
n.plot.pie()

In [ ]:
c = df["상권업종소분류명"].value_counts()
c.plot.barh(figsize = (7,9), grid = True)

In [ ]:
df_medical = df[df["상권업종중분류명"] == "약국/한약방"].copy()

In [ ]:
# 상권업종중분류명 - > 약국/ 한약방 데이터만 가져와서
# df_medical 이라는 변수에 담기

df_medical = df[df["상권업종중분류명"]=="약국/한약방"]
df_medical.head()

In [ ]:
# 상권업종대분류명 에서 의료 데이터만 추출
# df.loc사용

st = df["상권업종대분류명"]=="의료"
df.loc[st, "상권업종중분류명"].value_counts()

In [ ]:
df.loc[df["상권업종대분류명"]=="의료", "상권업종중분류명"].value_counts()

In [ ]:
# 유사의료업만 따로 모아보기
df_medi = df[df["상권업종중분류명"]=="유사의료업"]
df_medi.shape

In [ ]:
# 상호명을 그룹화해서 갯수를 세어보기 , value_counts를 사용해 상위 10개 출력

df["상호명"].value_counts().head(10)

In [ ]:
df_medi["상호명"].value_counts().head(10)

### 여러 조건으로 색인하기

In [ ]:
# "상권업종소분류명"이 "약국" 인 것과
# "시도명" 이 "서울특별시"인 데이터만 가져옵니다.
# df_seoul_drug

df_seoul_drug = df[
    (df["상권업종소분류명"]=="약국")&
    (df["시도명"]=="서울특별시")
]

df_seoul_drug.head(1)

### 구별로 보기

In [ ]:
df_seoul_drug["시군구명"].value_counts()

In [ ]:
# normalize = True를 통해 비율을 구하기
df_seoul_drug["시군구명"].value_counts(normalize = True)

In [ ]:
df_seoul_drug["시군구명"].value_counts().plot.bar()

In [ ]:
df_seoul_hospital = df[
   ( df["상권업종소분류명"]== "종합병원") &
  (df["시도명"] == "서울특별시")
]

df_seoul_hospital.head(1)

In [ ]:
# "시군구명" 으로 그룹화 해서 구별로 종합병원의 수를 세어봅니다.

df_seoul_hospital["시군구명"].value_counts()

### 텍스트 데이터 색인하기

In [ ]:
# str.contains 를 사용해서 "상호명"에 "대학병원"이 들어가는 것을 가져와서 
# head()로 미리보기 합니다.

df[df["상호명"].str.contains("대학병원")].head(1)

In [ ]:
#  str.startswith 를 사용해 "서울"로 시작하는 도로명주소를 가져와서 
# head()로 미리보기 합니다.

df[df["도로명주소"].str.startswith("서울")].head(1)

In [ ]:
# str.endswith를 사용해서 "상호명"이 "병원"으로 끝나는 데이터를 가져와서 head()로 미리보기 합니다.
df[df["상호명"].str.endswith("병원")].head(1)

### 특정 지역만 보기

In [ ]:
# 서울에 있는 데이터의 위도와 경도를 봅니다.
# 결과를 df_seoul 이라는 데이터프레임에 저장합니다.
# 새로운 변수에 데이터프레임을 저장시 copy()를 사용합니다.

df_seoul = df[df["시도명"]=="서울특별시"].copy()
df_seoul.shape

In [ ]:
# seaborn 의 countplot 을 사용해서 위에서 만든 df_seoul 데이터프레임의
# 시군구명을 시각화 합니다.

plt.figure(figsize=(9,6))
sns.countplot(data=df_seoul, y="시군구명")

In [ ]:
# Pandas 의 plot.scatter 를 통해 경도와 위도를 표시해 봅니다.
df_seoul[["경도","위도","시군구명"]].plot.scatter(
    x="경도", y="위도", figsize=(9,7), grid=True
)

In [ ]:
# seaborn의 scatterplot 을 통해 구별 경도와 위도를 표시해 봅니다.

plt.figure(figsize=(16,12))
sns.scatterplot(data = df_seoul,
                x="경도", y="위도", hue="시군구명")

In [ ]:
# seaborn의 scatterplot 을 통해 "상권업종중분류명" 경도와 위도를 표시해 봅니다.

plt.figure(figsize=(16,12))
sns.scatterplot(data=df_seoul,
                x="경도", y="위도", hue = "상권업종중분류명")

In [ ]:
# seaborn의 scatterplot 을 통해 전국 데이터(df)로 구별 경도와 위도를 표시해 봅니다.
plt.figure(figsize=(16,12))
sns.scatterplot(data=df[:10000],
                x="경도", y="위도", hue="시군구명")

### Folium으로 지도 활용하기

In [ ]:
import folium

In [ ]:
geo_df = df_seoul_hospital.copy()

In [ ]:
# 지도의 중심을 지정하기 위해 위도와 경도의 평균을 구합니다. 
fmap = folium.Map(location=[geo_df["위도"].mean(), geo_df["경도"].mean()],
                            zoom_start = 12)

for n in geo_df.index:
  # 팝업에 들어갈 텍스트를 지정해 줍니다.
  # 상호명과 주소를 붙여서 출력되도록 합니다.
  popup_name = geo_df.loc[n,"상호명"]+"-" + geo_df.loc[n,"도로명주소"]

  folium.Marker(
      location = [geo_df.loc[n,"위도"], geo_df.loc[n,"경도"]],
      popup = popup_name
  ).add_to(fmap)

fmap